
body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
  font-family: "Source Sans Pro";
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
button{
  /* background-image: url('/birthday-fireworks/arrow.svg'); */
  background-color: #020202;
  border: none;
  padding: 20 20;
}

